html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  color: #bbb;
}

.mainContainer {
  padding: 200px;
}

.specialParagraphs {
  background-color: #444;
}

#finalParagraph {
  border-top: 2px solid #bbb;
  padding-top: 40px;
}

.subContainer {
  /* background-color: #ff0072; */
  padding: 10px;
  border: 1px solid #222;
  margin-bottom: 40px;
}
